@import url("/css/reset.css");

.wrap-paint-section {
  display: flex;
}

.paint-section {
  padding: 10px;
  width: 100%;
}

.wrap-paint-menu {
  display: flex;
  justify-content: space-between;
  .paint-exit-btn {
    width: 92px;
    height: 40px;
  }
  .paint-other-btn {
    width: 120px;
    height: 40px;
  }
  .paint-menu-btn {
    margin: 5px 5px 40px 5px;
    border: 0;
    background-color: white;
    > span {
      padding: 1px 6px 1px 6px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.wrap-sketch-img {
  margin: 0 100px;
  text-align: center;
  .sketch-img {
    width: 815px;
    height: 815px;
    background-color: white;
  }
}

.wrap-paint-bottom-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 110px 130px 110px;
  .zoom-controller {
    display: flex;
  }

  .wrap-auto-and-paint-btn {
    display: flex;
  }
}

.wrap-paint-save-btn {
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
  text-align: center;
  .paint-save-btn {
    width: 260px;
    height: 62px;
    margin: 26px 0px 28px;
    background-color: white;
    border: 0;
    font-size: 100%;
    font-weight: bold;
  }
}

.paint-aside {
  width: 156px;
  padding: 28px 0px 0px 28px;
  background-color: white;
  > img {
    width: 90%;
  }
}
