@import url("/css/reset.css");

.wrap-paint-section {
  display: flex;
}

.paint-section {
  padding: 10px;
  width: 100%;
}

.wrap-paint-menu {
  display: flex;
  justify-content: space-between;
  .paint-exit-btn {
    width: 92px;
    height: 40px;
  }
  .paint-other-btn {
    width: 120px;
    height: 40px;
  }
  .paint-menu-btn {
    margin: 5px 5px 40px 5px;
    border: 0;
    background-color: white;
    > span {
      padding: 1px 6px 1px 6px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.wrap-sketch-img {
  margin: 0 auto;
  width: 50%;
  .sketch-img {
    width: 815px;
    height: 815px;
    background-color: white;
  }
}

.zoom-controller {
  display: flex;
}

.paint-aside {
  width: 156px;
  padding: 28px 0px 0px 28px;
  background-color: white;
  > img {
    width: 90%;
  }
}
